/.calva
/.clj-kondo
/.cpcache
/.db
/.migrate
/.lein-*
/.lsp
/.nrepl-port
/.nrepl-scok
/.test
/checkouts/
/classes/
/compile_flags.txt
/resources/lib/*
/resources/public/js/*
/target/

*.class
*.jar
*.log
.cpcache/
.dir-locals.el
figwheel_server.log
pom.xml
pom.xml.asc
